body{
    background: rgb(5, 5, 53);
}

.item{
  width: 1300px;
  height: 50px;
  background: rgb(67, 66, 83);
  float: left;
  display: flex;
  gap: 10px;
  color: rgb(216, 215, 215);
  border-radius: 10px;
   padding: 6px 15px;
   align-items: center;
   font-size: 20px;
   margin: 80px 300px;
   justify-content: space-between;
} 

.item2{
    border: 1px solid black;
    border-radius: 10px;
    height: 40px;
    width: 40px;
    background: rgb(13, 11, 46);
    text-align: center;
    padding: 2px;
}
.bruhh{
    padding-top: 7px;
}



.bro{
    color: white;
    margin-left: 300px;
    float: left;
}

.typeshi{

    font-size: 25px;
    margin-top: 245px;
    margin-left: 1330px;
    position: absolute;
    color: white;
    display: flex;
    gap: 36px;  
    
     
}

.th{
     background: rgb(216, 74, 74);
     border-radius: 15px;
     height: 37px;
     width: 60px;
     text-align: center;
     color:  rgb(13, 11, 46);
     padding-top: 5px;
}

.the{
     background: rgb(67, 66, 83);
     border-radius: 15px;
     height: 37px;
     width: 80px;
     text-align: center;
     color:  rgb(13, 11, 46);
     padding-top: 5px;
}

.thz{
     background: rgb(67, 66, 83);
     border-radius: 15px;
     height: 37px;
     width: 88px;
     text-align: center;
     color:  rgb(13, 11, 46);
     padding-top: 5px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}


.cards-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
  gap: 22px;
  padding: 25px;
}


.tool-card {
  background: rgb(34, 31, 65);
  border: 1px solid rgba(255, 255, 255, 0.12);
  padding: 20px;
  border-radius: 18px;
  backdrop-filter: blur(8px);
  display: flex;
  flex-direction: column;
  gap: 14px;
  
}


.icon-wrap {
  display: flex;
  align-items: center;
  gap: 12px;
}

.icon-wrap img {
  width: 40px;
  height: 40px;
  padding: -10px;
}

.tool-card h3 {
  font-size: 18px;
  font-weight: 600;
  margin-top: -17px;
  color: white;
}


.tool-card p {
  font-size: 14px;
  opacity: 0.75;
  line-height: 1.35;
  margin-left: 46px;
  margin-top: -24px;
  color: white;
}

.bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 6px;
}


.remove-btn {
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 10px;
  padding: 6px 14px;
  font-size: 14px;
  cursor: pointer;
  color: white;
}


.toggle {
  position: relative;
  width: 40px;
  height: 20px;
}

.toggle input {
  display: none;
}

.slider {
  position: absolute;
  background: #444;
  width: 100%;
  height: 100%;
  border-radius: 20px;
}


.slider::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  background: white;
  border-radius: 50%;
  left: 2px;
  top: 2px;
}


.toggle input:checked + .slider {
background: rgb(216, 74, 74);
}

.toggle input:checked + .slider::after {
  left: 22px;
}